--- 

--- 

@import "{{ site.theme }}";

@font-face {
  font-family:"OpenSansRegular";
  src: url("/assets/fonts/OpenSans/OpenSans-Regular.ttf") format('truetype'),;
}

@font-face {
  font-family:"WorkSansMedium";
  src: url("/assets/fonts/WorkSans/WorkSans-Medium.ttf") format('truetype'),;
}

@font-face {
  font-family:"WorkSansReguler";
  src: url("/assets/fonts/WorkSans/WorkSans-Regular.ttf") format('truetype'),;
}

/** COMMON **/

.page-content {
  padding-top: 56px;
}

.wrapper {
  max-width: 1089px;
  padding-right: 0;
  padding-left: 0;
}

.site-nav .page-link {
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 19px;
  color: #020B13;
  letter-spacing: 0.5px;
}

.site-nav .page-link:hover {
  text-decoration: none;
}

.site-nav .page-link-highlighted {
  color: #FFFFFF;
  background: #003788;
  padding: 10px 25.955px 10px 25px;
  border-radius: 24px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  width: 200px;
  font-family: 'OpenSansRegular';
}

.site-nav .page-link-highlighted-active {
  color: #1D94D2;
}

.site-nav .page-link:not(:last-child) {
  padding-right: 24px;
  margin-right: -5px;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

/** HEADER **/

.site-header {
  border: none;
  height: 56px;
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

.site-title {
  padding-top: 13px;
  padding-bottom: 12px;
  line-height: unset;
  font-size: unset;
}

.search-box {
  padding-left: 222.25px;
  padding-top: 9px;
  width: 352px;
  float: left;
}

.search-input {
  border: 1px solid #0000001F;
  border-radius: 19px;
  height: 34px;
  width: 308px;
  padding-left: 44px;
  background-image: url("/assets/images/feather-search.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 16px center;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  color: #020B13;
}

.search-input::placeholder {
  color: #020B13;
  opacity: 1; /* Firefox */
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #020B13;
}

.search-input::-ms-input-placeholder { /* Microsoft Edge */
 color: #020B13;
}

.search-input:focus-visible,
.search-input:focus,
.search-input:hover,
.search-input:active,
.search-input:visited {
  outline: none;
}

@media screen and (max-width: 1024px) {
  .search-box {
    padding-left: 40px;
    width: 200px;
  }

  .search-input {
    width: 200px;
  }
}

@media screen and (max-width: 767px) {
  .search-box {
    display: none;
  }
}

/** FOOTER **/

.site-footer {
  border: none;
  padding: 0;
}

.site-footer-banner {
  background-image: url("/assets/images/footer-banner.svg");
  width: 100%;
  height: 439px;
  background-size: cover;
  background-repeat: no-repeat;
}

.site-footer-box {
  position: relative;
  top: 79px;
  left: 47%;
  width: 543px;
}

.site-footer-box-title {
  width: 468px;
  font-family: 'WorkSansMedium';
  color: #FFFFFF;
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 26px;
}

.site-footer-box-text {
  font-family: 'OpenSansRegular';
  color: #FFFFFFDE;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 37px;
}

.site-footer-box-control {
  display: flex;
  align-items: center;
  border-radius: 25px;
  height: 51px;
  background: #FFFFFF;
}

.site-footer-box-input {
  height: 49px;
  width: 370px;
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  color: #020B13;
  padding-left: 16px;
}

.site-footer-box-input:focus-visible,
.site-footer-box-input:focus,
.site-footer-box-input:hover,
.site-footer-box-input:active,
.site-footer-box-input:visited {
  border: none;
  outline: none;
}

.site-footer-box-button {
  background: #003788;
  border: none;
  border-radius: 24px;
  width: 135px;
  height: 43px;
  color: #FFFFFF;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  right: 4px;
  cursor: pointer;
}

.site-footer-text {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 26px;
  position: relative;
  align-items: center;
  height: 48px;
}

.site-footer-text-left {
  padding-top: 12px;
}

.site-footer-text-right {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 48px;
}

.site-footer-url {
  letter-spacing: 0.5px;
}

.site-footer-text-right span {
  color: #1D94D2;
  font-size: 16px;
  line-height: 24px;
  padding-right: 34px;
}

.site-footer-twitter {
  background: #1D94D2;
  border-radius: 24px;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 14px;
}

.site-footer-twitter img {
  margin-right: 10px;
}

.site-footer-twitter:visited {
  color: #FFFFFF;
}

.site-footer-url:hover,
.site-footer-twitter:hover {
  text-decoration: none;
}

@media screen and (max-width: 1028px) {
  .site-footer-banner {
    width: 100%;
    height: auto;
  }

  .site-footer-box {
    top: 24px;
    left: 44%;
    width: 400px;
    height: 250px;
  }
  
  .site-footer-box-title {
    width: 250px;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 12px;
  }
  
  .site-footer-box-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  
  .site-footer-box-control {
    display: flex;
    align-items: center;
    border-radius: 25px;
    height: 41px;
    background: #FFFFFF;
  }
  
  .site-footer-box-input {
    height: 39px;
    width: 200px;
    font-size: 16px;
    line-height: 28px;
    padding-left: 16px;
  }
  
  .site-footer-box-button {
    width: 135px;
    height: 33px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .site-footer-banner {
    display: none;
  }
  
  .site-footer-text {
    display: block;
    padding-bottom: 16px;
    height: unset;
    text-align: center;
  }

  .site-footer-text-right {
    display: block;
    position: unset;
  }

  .site-footer-url {
    display: block;
  }

  .site-footer-twitter {
    background: #1D94D2;
    border-radius: 24px;
    font-size: 14px;
    line-height: 29px;
    padding: 4px 14px;
  }
}

/** HOME PAGE **/

.home {
  padding-top: 71px;
}

.home-heading {
  color: #FF7C0A;
  font-size: 20px;
  line-height: 30px;
  font-family: 'WorkSansMedium';
  text-align: center;
  margin-bottom: 16px;
}

.home-description {
  color: #020B13;
  font-size: 48px;
  line-height: 56px;
  font-family: 'WorkSansMedium';
  text-align: center;
  margin-bottom: 44px;
}

.home-banner {
  position: relative;
  margin-bottom: 44px;
}

.home-banner-image img {
  width: 100%;
  height: auto;
}

.home-banner-detail {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  top: 90px;
}

.home-banner-detail-header {
  color: #FFFFFF80;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.home-banner-detail-title {
  color: #FFFFFF;
  font-family: 'WorkSansMedium';
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 12px;
}

.home-banner-detail-description {
  color: #FFFFFF;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  padding-right: 85px;
}

@media screen and (max-width: 1024px) {
  .home-description {
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 44px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .home-banner-detail {
    top: 52px;
  }

  .home-banner-detail-header {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  
  .home-banner-detail-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 8px;
  }
  
  .home-banner-detail-description {
    font-size: 14px;
    line-height: 22px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .home-description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 44px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .home-banner {
    position: relative;
    margin-bottom: 24px;
  }
  
  .home-banner-image img {
    width: 100%;
    height: auto;
  }
  
  .home-banner-detail {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    top: unset;
    margin-top: 16px;
    padding-left: 4px;
  }
  
  .home-banner-detail-header {
    color: #020B13;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  .home-banner-detail-title {
    color: #020B13;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  
  .home-banner-detail-description {
    color: #020B13;
    font-size: 14px;
    line-height: 24px;
    padding-right: 0;
  }
}

/** HOME POSTS **/

.home-posts {
  text-align: left;
}

.home-posts a:hover {
  text-decoration: none;
}

.home-post {
  margin-bottom: 24px;
  display: flex;
}

.home-post-image {
  text-align: left;
}

.home-post-image img {
  max-width: unset;
  height: auto;
}

.home-post-detail {
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
}

.home-post-detail-header {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 12px;
}

.home-post-detail-title {
  color: #020B13;
  font-family: 'WorkSansMedium';
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 12px;
}

.home-post-detail-description {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
}

.home-load-more {
  border: none;
  border-radius: 24px;
  background: #002966;
  padding: 12px 26px; 
  color: #FFFFFF;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .home-post-image img {
    height: 120px;
  }

  .home-post-detail {
    padding-top: 4px;
  }
  
  .home-post-detail-header {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
  }
  
  .home-post-detail-title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  
  .home-post-detail-description {
    font-size: 14px;
    line-height: 24px;
  }
  
  .home-load-more {
    padding: 12px 26px; 
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 767px) {
  .home-post {
    margin-bottom: 24px;
    display: block;
  }
  
  .home-post-image {
    text-align: left;
  }
  
  .home-post-image img {
    max-width: 100%;
    height: auto;
  }
  
  .home-post-detail {
    text-align: left;
    padding-left: 4px;
    padding-top: 16px;
  }
  
  .home-post-detail-header {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  
  .home-post-detail-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  
  .home-post-detail-description {
    font-size: 14px;
    line-height: 24px;
  }
  
  .home-load-more {
    border: none;
    border-radius: 24px;
    background: #002966;
    padding: 12px 26px; 
    color: #FFFFFF;
    font-family: 'OpenSansRegular';
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
  }
}

/** POST CONTENT **/

.post-header {
  display: none;
}

.post-content {
  width: 904px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 44px;
}

.post-content-metadata {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 18px;
}

.post-content-title {
  color: #020B13;
  font-family: 'WorkSansMedium';
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}

.post-content-briefdescription {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
}

.post-content-image {
  margin-bottom: 24px;
}

.post-content-image img {
  width: 100%;
  height: auto;
}

.post-content h2 {
  color: #020B13;
  font-family: 'WorkSansMedium';
  font-size: 34px;
  line-height: 46px;
  margin-bottom: 16px;
}

.post-content p {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;
  letter-spacing: 0.5px;
}

.post-content li {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 4px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
  .post-content {
    width: 100%;
    margin-top: 50px;
  }
  
  .post-content-metadata {
    color: #020B13;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
  }
  
  .post-content-title {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 12px;
  }
  
  .post-content-briefdescription {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 12px;
    letter-spacing: 0.5px;
  }
  
  .post-content-image {
    margin-bottom: 24px !important;
  }
  
  .post-content-image img {
    width: 100%;
    height: auto;
  }
  
  .post-content h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  
  .post-content p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
    letter-spacing: 0.5px;
  }
  
  .post-content li {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 4px;
    letter-spacing: 0.5px;
  }
}

/** NEWS **/

.news-title {
  margin-top: 89px;
  margin-bottom: 80px !important;
}

.news-logo {
  padding-left: 24px;
  padding-bottom: 16px;
  border-left: 3px solid #1D94D2;
  margin-bottom: 0 !important;
}

.news-url {
  padding-left: 24px;
  padding-bottom: 16px;
  font-weight: bold;
  border-left: 3px solid #1D94D2;
  margin-bottom: 0 !important;
}

.news-url-no-info {
  padding-left: 24px;
  padding-bottom: 16px;
  font-weight: bold;
  border-left: 3px solid #1D94D2;
  margin-bottom: 44px !important;
}

.news-info-author {
  display: flex;
}

.news-info {
  padding-left: 24px;
  border-left: 3px solid #1D94D2;
  margin-bottom: 44px !important;
}

@media screen and (max-width: 1024px) {
  .news-title {
    margin-top: 32px;
    margin-bottom: 24px !important;
  }
}

/** POST SUGGESTED **/

.post-suggesteds {
  margin-left: -93px;
  margin-right: -92px;
  padding-left: 30px;
  padding-right: 30px;
}

.post-suggesteds a:hover {
  text-decoration: none;
}

.post-suggesteds-title {
  width: 1089px;
  color: #020B13;
  font-family: 'WorkSansReguler';
  font-size: 48px;
  line-height: 56px;
  margin-top: 84px;
  margin-bottom: 24px;
}

.post-suggested-image {
  margin-bottom: 16px;
}

.post-suggested-metadata {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.post-suggested-title {
  color: #020B13;
  font-family: 'WorkSansMedium';
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
}

.post-suggested-briefdescription {
  color: #020B13;
  font-family: 'OpenSansRegular';
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 24px;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 1024px) {
  .post-suggesteds {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .post-suggesteds a:hover {
    text-decoration: none;
  }
  
  .post-suggesteds-title {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .post-suggested-image {
    margin-bottom: 16px;
  }
  
  .post-suggested-image img {
    width: 100%;
    height: auto;
  }
  
  .post-suggested-metadata {
    margin-bottom: 4px;
    padding-left: 4px;
  }
  
  .post-suggested-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 4px;
    padding-left: 4px;
  }
  
  .post-suggested-briefdescription {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;
    padding-left: 4px;
  }
}

/** ROW & COLUMN **/

.column {
  float: left;
  width: 33.33%;
  padding: 8px;
  box-sizing: border-box;
}

.row {
  box-sizing: border-box;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .column {
    float: left;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
  }
  
  .row {
    box-sizing: border-box;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
  }
}